{% extends 'base.html.twig' %}

{% block body -%}
    <h1>Special offer</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('special_offer') }}">
                Back to list
            </a>
        </li>
    </ul>
{% endblock %}