{% extends 'base.html.twig' %}

{% block prepare_active%} active{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <h2>Подготовка</h2>
            <p>
                После получения архива с кодом данного "проекта", вам нужно:
            </p>
            <ul>
                <li>Распаковать файлы на диск</li>
                <li>Создать пустую базу данных (mysql)</li>
                <li>В терминале перейти в директорию проекта</li>
                <li>
                    Выполнить команду <span class="text-danger">composer install</span> (вопросы по установке или
                    использованию composer-а
                    выходят за рамки этой инструкции, если он у вас не установлен и вы не знакомы с тем, что
                    это такое, будем считать, что разобраться с этим самостоятельно - первое тестовое задание)
                </li>
                <li>
                    Отредактировать файл <span class="text-danger">.env</span> в корне проекта, изменив
                    <span class="text-danger">DATABASE_URL</span>
                    для корректного подключения к созданной вами базе данных.
                </li>
                <li>
                    Выполнить команду <span class="text-danger">php bin/console doctrine:migrations:migrate</span>
                    эта команда создаст в вашей базе данных таблицы и данные, необходимые для дальнейшей работы.
                </li>
                <li>
                    Выполнить команду <span class="text-danger">php bin/console server:run</span>, которая запустит
                    тестовый проект по адресу 127.0.0.1:8000.
                </li>
                <li>
                    Вы можете не использовать встроенный тестовый сервер из предыдущего пункта, а настроить локально
                    виртуальный хост с директорией <span class="text-danger">public</span> проекта, в качестве публичной
                    (предполагается, что для вас не секрет о чем речь).
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Выполнение</h2>
            <p>
                В процессе выполнения заданий вы можете изменять абсолютно все, что посчитаете нужным.
                Однако, не стоит увлекаться работой, не связанной напрямую с заданиями.
            </p>
            <p>
                Изменения в базе данных следует оформить миграцией. Если вы внесли изменения в классы
                сущностей ORM, выполните команду <span class="text-danger">php bin/console doctrine:migrations:diff</span>,
                будет сгенерирована миграция со всеми необходимыми изменениями структуры базы данных. Если необходимо
                внести изменения не связанные с сущностями ORM, можно сгенерировать пустую миграцию
                <span class="text-danger">php bin/console doctrine:migrations:generate</span> и добавить в нее необходимые запросы.
                После создания миграции выполните <span class="text-danger">php bin/console doctrine:migrations:migrate</span>
                для применения изменений.
            </p>
            <p>
                Если вы считаете необходимым прокомментровать вашу работу словами,
                то добавьте в корень проекта файл Comments.txt со всеми своими
                комментариями.
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Результаты</h2>
            <p>
                Результаты нужно предоставить в виде патча. Для этого:
            </p>
            <ul>
                <li>В терминале перейти в директорию проекта</li>
                <li>
                    Если вами были добавлены какие-нибудь файлы, то необходимо
                    выполнить команду <span class="text-danger">git add .</span> (если у вас не установлен Git,
                    то нужно разобраться с его установкой и использованием в вашей операционной системе самостоятельно)
                </li>
                <li>
                    Выполнить команду <span class="text-danger">git diff HEAD > /path/myname.patch</span>, где myname - ваша
                    фамилия, имя или ник латинскими буквами, а /path - путь к создаваемому файлу.
                </li>
                <li>
                    Отправить сформированный файл патча проверяющему.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}