{% extends 'base.html.twig' %}

{% block test_active%} active{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Поиск отелей</h1>
        {{ form(form) }}
    </div>
{% endblock %}